<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>网站综合评分</title>
		<meta name="description" content="随着时间的推移对网页进行基准测试。">
		<link rel="stylesheet" href="{{ '/style.css' | url }}">
		<script>
		document.documentElement.classList.add("js");
		</script>
	</head>
	<body>
		<h1 class="speedlify-hed"><a href="{{ '/' | url }}">speedlify</a>{% if vertical %}:{{ vertical }}{% endif %}</h1>
		<p class="speedlify-subhed">
			随着时间推移对 {{ sites[vertical].description or "网页" }} 进行基准测试.
			{%- if sites[vertical].unordered %}
				Results for this category are unordered.
			{%- endif %}
			{%- if maxResults %}
				<em>最多</em> 每 {{ sites[vertical].options.frequency or 60 }} 分钟更新一次。只显示最后 {{ maxResults }} 次运行 {% if maxResults != 1 %} {% endif %} (以及最早的运行)。
			{%- endif %}
		</p>

		{{ content | safe }}

		<footer>
			MIT licensed. Read <a href="https://www.zachleat.com/web/speedlify/">the blog post</a>. Source code on <a href="https://github.com/zachleat/speedlify/">GitHub</a>. Created by <a href="https://www.zachleat.com/">@zachleat</a>.
		</footer>

		<script defer src="{{ '/chartist.js' | url }}"></script>
		<script defer src="{{ '/script.js' | url }}"></script>
	</body>
</html>